/***

==================================================================
Invoice Section
==================================================================

***/

.invoice-section {
  position: relative;
  background: #f0f5f7;
  padding: 75px 0;
  min-height: 100vh;
}

.invoice-section .auto-container {
  max-width: 1200px;
}

.invoice-section .upper-box {
  position: relative;
  text-align: right;
  margin-bottom: 75px;
}

.invoice-section .upper-box .theme-btn {
  min-width: 140px;
}

.invoice-wrap {
  position: relative;
  -webkit-box-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
  box-shadow: 2px 6px 15px rgba(64, 79, 104, 0.05);
  border: 0.1px solid #8b8b8f;
  background-color: #E6E9EB;
  padding-top: 5px;
}
.invoice-wrap:hover {
  box-shadow: 0px 0px 20px 0px rgba(64, 79, 104, 0.3);
}

.invoice-wrap .invoice-content {
  position: relative;
  padding: 5px;
  font-size: small;
  // border: 1px solid #333;
}

.invoice-wrap .logo-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  // align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.invoice-wrap .logo-box .logo {
  position: relative;
  // margin-right: 30px;
  // margin-bottom: 40px;
}

.company-details {
  line-height: 20px;
  margin-bottom: 20px;
}

.line-height-shrink {
  line-height: normal;
}

.invoice-wrap .invoice-id {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  color: #202124;
  // margin-bottom: 40px;
  max-width: 325px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.invoice-wrap .invoice-id span {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  min-width: 155px;
  color: #202124;
  margin-left: 40px;
}

.invoice-wrap .info-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.invoice-wrap .info-box .right-column {
  position: relative;
  max-width: 49%;
  width: 100%;
  // padding-right: 30px;
}

.invoice-wrap .info-box .left-column {
  position: relative;
  max-width: 50%;
  width: 100%;
}

.invoice-wrap .info {
  position: relative;
  // margin-bottom: 70px;
}

.invoice-wrap .info h6 {
  position: relative;
  font-size: 15px;
  line-height: 20px;
  color: #696969;
}

.invoice-wrap .info span {
  font-size: 15px;
  line-height: 20px;
  color: #202124;
  font-weight: 500;
}

.invoice-wrap .info h4 {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  // line-height: 24px;
  color: #202124;
  // margin-bottom: 20px;
}

.invoice-wrap .info h5 {
  position: relative;
  font-size: 16px;
  // line-height: 20px;
  color: #202124;
  // margin-bottom: 14px;
}

.invoice-table tr th:last-child,
.invoice-table tr td:last-child {
  text-align: right;
}

.invoice-wrap .invoice-footer {
  position: relative;
  // padding-top: 10px;
  border: 1px solid black;
  border-top: 0;
}

.invoice-wrap .bottom-links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.invoice-wrap .bottom-links li {
  position: relative;
  margin: 0 30px;
  font-size: 10px;
  color: #444343;
  // line-height: 20px;
}

.invoice-wrap .bottom-links li a {
  color: #202124;
}

.invoice-wrap .bottom-links li .link {
  color: var(--primary-color);
}

.lr-view-table > thead > tr > th {
  max-width: min-content;
}

.grid {
  display: grid;
  border: 1px solid black;
  margin-bottom: 10px;
  grid-template-areas:
    "logo company_name company_name company_name copy"
    "lr_date fina_lr fina_lr lr_number last_modified_date"
    "pickup_address pickup_address from_to delivery_address delivery_address"
    "consignor consignor vehicle consignee consignee"
    "material_detail material_detail material_detail weight total_amount"
    "terms_condition terms_condition terms_condition material_receiver_sign authorized_sign";
}

.item {
  padding: 5px;
  font-size: 10px;
  line-height: normal;
  border: 1px solid black;
}
.logo1 {
  grid-area: logo;
  border: none !important;
  display: block;
}
.company_name {
  grid-area: company_name;
  display: block;
  font-size: 12px;
}
.copy {
  display: block;
  grid-area: copy;
  font-size: 12px;
}
.lr_date {
  display: block;
  grid-area: lr_date;
}
.fina_lr {
  display: block;
  grid-area: fina_lr;
  color: green;
  font-size: 12px !important;
  font-weight: bold;
  text-align: center;
  text-transform: u;
}
.lr_number {
  display: block;
  grid-area: lr_number;
}
.last_modified_date {
  display: block;
  grid-area: last_modified_date;
}
.pickup_address {
  display: block;
  grid-area: pickup_address;
}
.from_to {
  display: block;
  grid-area: from_to;
}
.delivery_address {
  display: block;
  grid-area: delivery_address;
}
.consignor {
  display: block;
  grid-area: consignor;
}
.vehicle {
  display: block;
  grid-area: vehicle;
}
.consignee {
  display: block;
  grid-area: consignee;
}
.material_detail {
  display: block;
  grid-area: material_detail;
}
.weight {
  display: block;
  grid-area: weight;
}
.total_amount {
  display: block;
  grid-area: total_amount;
}
.terms_condition {
  display: block;
  grid-area: terms_condition;
  font-size: 8px;
}
.material_receiver_sign {
  display: block;
  grid-area: material_receiver_sign;
}
.authorized_sign {
  display: block;
  grid-area: authorized_sign;
}

.custom-border {
  border: 1px solid black;
}

.invoice-watermark {
  /* the image you want to 'watermark' */
  height: auto; /* or whatever, equal to the image you want 'watermarked' */
  width: auto; /* as above */
  background-image: url(../../../images/letter-head.jpeg);
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
}

.invoice-watermark img {
  /* the actual 'watermark' */
  position: absolute;
  top: 0; /* or whatever */
  left: 0; /* or whatever, position according to taste */
  opacity: 0.7; /* Firefox, Chrome, Safari, Opera, IE >= 9 (preview) */
  filter:alpha(opacity=50); /* for <= IE 8 */
}