/*==========================
default table
===========================*/

.table-outer {
  overflow-y: hidden;
  overflow-x: auto;
}

.default-table {
  position: relative;
  background: #ffffff;
  margin-bottom: 30px;
  overflow: hidden;
  width: 100%;
  min-width: 700px;
}

.default-table tbody tr:hover {
  background: #E1E9F3;
}

.default-table thead {
  background-color: #013778;
}

.default-table thead th {
  position: relative;
  font-size: 14px;
  color: #fff;
  font-weight: 800;
  line-height: normal;
  white-space: nowrap;
  border: 1px solid #01549A;
  background-color: transparent;
}

.default-table tbody tr {
  position: relative;
  border-bottom: 1px solid #ecedf2;
}

.default-table tr td {
  position: relative;
  font-size: 13px;
  color: black;
  font-weight: 400;
  border: 1px solid #01549A;
  background-color: transparent;
}

.default-table tr td:hover {
  background-color: #013778;
  color: white;
}

.ledger-table tr td {
  position: relative;
  font-size: 16px;
  color: black;
  font-weight: 400;
  border: 1px solid #01549A;
  background-color: transparent;
  padding: 2px 7px;
}

.dashboard-table {
  padding: 24px;
}

.dashboard-table:hover {
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3) !important;
}